body
{
    margin: 0;
    padding-top: 80px;
    font-family: Arial, sans-serif;
    background-color: #303030;
    color: whitesmoke;
}

/**/
.space 
{
    text-align: center;
}

/**/

.center-img 
{
    display: block;
    margin: auto;
}

/**/

.error-title 
{
    text-align: left;
    margin-left: 300px;
}

.error-text 
{
    text-align: left;
    margin-left: 300px;
}

/**/

.retry-btn
 {
    display: block;
    margin: auto;
    width: 230px;
    height: 80px;
}

.medievalsharp 
{
  font-family: "MedievalSharp", cursive;
  font-weight: 500;
  font-style: normal;
}


/**/
h1
{
    font-size: 100px;
}

h2
{
    font-size: 50px;
}

h3
{
    font-size: 25px;
}

p
{
    font-size: 18px;
}
a
{
    text-decoration: none;
    color: #feb47b;
}

a:hover
{
    color: #fd6d41;
}

/**/

.navbar {
    background-color: #303030;
    min-height: 80px;
    display: flex;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.navbar img
{
    width: 50px;
    border-radius: 50%;
    padding: 0 20px;
}

.right-text {
    font-weight: bold;
    gap: 30px;
    padding: 0 50px;
    margin-left: auto;
    display: flex;
    align-items: center;
}

.header
{
    background: linear-gradient(#ff7e5f, #feb47b);

    padding-bottom: 50px;
}

.radio 
{
    text-decoration: none;
    position: fixed;       
    bottom: 20px;            
    right: 20px; 
    background: linear-gradient(#6b4c3b, #3a3a3a);
    color: whitesmoke; 
    padding: 5px 5px;    
    border-radius: 200px;   
    z-index: 1000;       
}
.radio p
{
    font-size: 12px;
}

.Welcome
{
    text-align: center;
    padding: 50px;
}

/**/

.profile 
{
    padding: 30px;


    display: flex;
    flex-direction: column;  
    align-items: center;     
    text-align: center;     
}

.profile img 
{
    width: 200px;
    border-radius: 26%;

}

.profile .text h2
{
    color: #ff9050;
    font-size: 50px;
}

.profile .text p
{
    margin-top: -20px;
    font-style: italic;
}

/**/

.about
{
    padding: 30px;
    text-align: center;
}

ul 
{
    list-style-type: none;
    padding: 0;
}

/**/

.section
{
    text-align: center;
    margin: 20px;
}
.platforms 
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 20px;
}

.platforms img 
{
    width: 100px;
}

/**/

form 
{
    width: 300px;
    margin: auto;
}

input, textarea 
{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

button 
{
    padding: 10px;
    width: 100%;
    background-color: lightblue;
    border: none;
    cursor: pointer;
}

/**/

.footer 
{
    text-align: center;
    padding: 20px;
    color: gray;
}

/**/

@media screen and (max-width: 600px) 
{
    .profile {
        flex-direction: column;
        text-align: center;
    }

    .platforms {
        grid-template-columns: 1fr;
    }
}
